  <div id="flashMessage"></div>
  <div id="tab-content" class="tab-content">
    <div id="login">
      <div class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" placeholder="Email address" autofocus="" id="username"  value="danijelmaricic@gmail.com" class="form-control"/>
        <input type="password" placeholder="Password" id="password" value="Dan1jelMar" class="form-control"/>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"/>Remember me
        </label>
        <button type="submit" id="loginButton" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </div>
    </div>
    <div id="signup">
      <div class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input type="text" placeholder="Email address" autofocus="" id="usernameSP" class="form-control"/>
        <input type="password" placeholder="Password" id="passwordSP" class="form-control"/>
        <input type="password" placeholder="Password" id="passwordAgainSP" class="form-control"/>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"/>Remember me
        </label>
        <button type="submit" id="signUpButton" class="btn btn-lg btn-primary btn-block">Sign up</button>
      </div>
    </div>
  </div>