extends ../layout

block body
  //- form(action='/login', method='post')
  div#LoginWrapper
    div
        input(type='text', id='username' ,name='username', value="use@dmaricic.com")
      div
        input(type='password', id="password", name='password', value="pass123")
      div
        input(type='submit',id="login")
