<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name=
  "viewport">
  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/auth.css">
  <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/linker/styles/jsoneditor-min.css">
  <link rel="stylesheet" href="/linker/styles/theme.css">
  <!--STYLES END-->

<script src="/linker/js/underscore-min.js"></script>
<script src="/linker/js/jquery-2.0.3.min.js"></script>
<script src="/linker/js/knockout-2.3.0.js"></script>
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/core.js"></script>
<script src="/linker/js/bindings.js"></script>
<script src="/linker/js/bootstrap/bootstrap.js"></script>
<script src="/linker/js/jsoneditor-min.js"></script>
<script src="/linker/js/endBindings.js"></script>
</head>

<body>
  <!-- Setting session flash msg http://www.youtube.com/watch?v=4Gbc9ZA2-YY -->
  <!-- Include the view file for the current controller/route -->

  <div class="container">
    <% if (req.user) { %>
      <script>ch.user.id="<%=req.user.id%>";</script>
      <%- partial('dash/partials/dash/navBar') %>
    <% } %>
    <%- body %>
  </div>
</body>
</html>