<!DOCTYPE html>

<html>
<head>
  <title><%- title %></title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name=
  "viewport"><!--STYLES-->
<link rel="stylesheet" href="/linker/styles/auth.css">
<link rel="stylesheet" href="/linker/styles/bootstrap-theme.css">
<link rel="stylesheet" href="/linker/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="/linker/styles/bootstrap.css">
<link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
<link rel="stylesheet" href="/linker/styles/theme.css">
<!--STYLES END-->
</head>

<body>
  <!-- Setting session flash msg http://www.youtube.com/watch?v=4Gbc9ZA2-YY -->
  <!-- Include the view file for the current controller/route -->

  <div class="container">
    <div class="alert alert-dismissable" id="flash" style="display:none">
      <button class="close" data-dismiss="alert" type="button">×</button> 
      <!-- <h4>Warning!</h4> -->

      <p></p>
    </div>
    <% if (req.user) { %>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= title%></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#help">Help</a>
            </li>
            <li>
              <a href="http://dmaricic.wordpress.org" target="_blank">Blog</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id=
              "userProfile">Welcome <%= req.user.username %> <span class=
              "caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#profile" tabindex="-1">Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#setting" tabindex="-1">Settings</a>
                </li>
                <li>
                  <a href="#fun" tabindex="-1">Fun</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="breadcrumb" style="margin-bottom: 5px;">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Library</a>
          </li>
          <li class="active">Data</li>
        </ul>
    <% } %>
    <%- body %>
  </div><!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/core.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/bindings.js"></script>
<script src="/linker/js/bootstrap/bootstrap.js"></script>
<script src="/linker/js/endBindings.js"></script>
<!--SCRIPTS END-->
</body>
</html>