<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/auth.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap-responsive.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/test.css">
    <!--STYLES END-->
  </head>

  <body>
    <!-- Include the view file for the current controller/route -->
    <%- body %>

  <!--SCRIPTS-->
  <script src="/linker/js/socket.io.js"></script>
  <script src="/linker/js/sails.io.js"></script>
  <script src="/linker/js/app.js"></script>
  <script src="/linker/js/jquery.min.js"></script>
  <script src="/linker/js/core.js"></script>
  <script src="/linker/js/bindings.js"></script>
  <script src="/linker/js/bootstrap/bootstrap.js"></script>
  <script src="/linker/js/bootstrap/bootstrap.min.js"></script>
  <script src="/linker/js/bootstrap/bootstrap-tabs.js"></script>
  <script src="/linker/js/endBindings.js"></script>
  <!--SCRIPTS END-->
    </body>
</html>
