<div class="" id="envList">
  <%- partial('partials/addEnv') %>
  <%
  if( envs.length > 0 ){ %> 
    <%- partial('partials/listEnvs')%>
  <% } else { %>
  <div class="alert alert-dismissable alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    <p>Hey dude u don't have any env!!!</p>
  </div>
  <% } %>
</div>