<ul class="dropdown-menu" data-bind="foreach: apps, visible: apps().length > 0">
  <li data-bind="click: $root.openApp" >
    <a href="#" class="text-muted" data-bind="text: name"></a>
  </li>
</ul>
<script src="/linker/js/models/application.js"></script>