<div class="col-lg-4" >
  <%- partial('partials/app/addNew')%>
  <%- partial('partials/app/list')%>
<script src="/linker/js/models/application.js"></script>
</div>
<div class="col-lg-4" id="appList">
dasdasd
</div>