<div id="mainContainer">
  <div class="page-header">
    <h1 data-bind="text: appName()"></h1>
  </div>
  <div id="envList" class="col-lg-2">
    <ul class="list-group" data-bind="foreach: envs, visible: envs().length > 0" >
      <li class="list-group-item" data-bind="click: $root.openConfs">
        <span  data-bind="text: name"></span>
        <span class="badge" data-bind="text: confs().length"></span>
      </li>
    </ul>
  </div>
  <div class="col-lg-10" bind-data="visible: confs().length > 0">
    <%- partial('partials/tmp/tmp')%>
    <%- partial('partials/app/addNew')%>
    <ul class="list-group " data-bind="foreach: confs">
      <li class="list-group-item">
        <ul class="nav nav-tabs">
          <li><a href="#info" class="active" data-toggle="tab">Info</a></li>
          <li><a href="#data" data-toggle="tab">Data</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="panel panel-primary">
            <div class="panel-heading">
              Conf UUID : <span class="panel-title" data-bind="text: uuid"></span>
            </div>
            <div class="panel-body">
              sadasdasasd
            </div>
          </div>
          </div>
          <div class="tab-pane" id="data">
            <code  data-bind="text: ko.toJSON(data)"></code>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<script src="/linker/js/models/application.js"></script>
