<!-- <div class="page-header" ><h1 data-bind="text: appName()"></h1></div> -->
<div class="bs-docs-section" bind-data="visible: appInfo()">  
    <!-- <h1 data-bind="text: appName()"></h1>
    <div class="navbar navbar-default navbar-fixed">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-bind="click: appInfoModal" data-toggle="modal" href="#appInfo">Aplication Info</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a data-toggle="modal" data-id="app.id" href="#delete">Delete</a></li>
            <li><a href="#" data-toggle="modal" data-bind="click: $root.changeApp">Change</a></li>
            <li><a data-toggle="modal" href="#addApp">Add Environment</a></li>
          </ul>
        </div>
      </div>
    </div><code  data-bind="text: ko.toJSON(data)"></code>
  </div> -->
  <div id="envList" class="col-lg-2" >
    <ul class="list-group" data-bind="foreach: envs" >
      <li class="list-group-item" data-bind="click: $root.openConfs">
        <span  data-bind="text: name"></span>
        <span class="badge" data-bind="text: confs().length"></span>
      </li>
    </ul>
  </div>
  <div class="col-lg-10">
    <ul class="list-group " data-bind="foreach: confs">
      <li class="list-group-item" >
        <span data-bind="text: uuid"></span>
        <a data-toggle="modal" class="btn btn-info" data-bind="click: $root.openConf" href="showConf">View Conf</a>
      </li>
    </ul>
  </div>
  <%- partial('partials/modals/modals.ejs')%>
</div>
<script src="/linker/js/models/application.js"></script>
