<div id="application">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="icon-comments icon-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"> <%= envs %> </p>
              <p class="announcement-text">Environments</p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                View Mentions
              </div>
              <div class="col-xs-6 text-right">
                <i class="icon-circle-arrow-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="icon-tasks icon-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= app.name %></p>
              <p class="announcement-text">Crawl Errors</p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                Fix Issues
              </div>
              <div class="col-xs-6 text-right">
                <i class="icon-circle-arrow-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="icon-comments icon-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"  data-bind="text: apps().length" ></p>
              <p class="announcement-text">New Orders!</p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                Complete Orders
              </div>
              <div class="col-xs-6 text-right">
                <i class="icon-circle-arrow-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>